body {
  font-family: 'Lora', serif;
  font-size: 1.125rem;
  max-width: 720px;
  padding: 20px;
  margin: 0 auto;
  background-color: var(--color-n-100);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}