:root {
  --color-n-100: hsl(0, 0%, 100%);
  --color-n-200: hsl(0, 0%, 81%);
  --color-n-300: hsl(0, 0%, 51%);
  --color-n-400: hsl(0, 0%, 31%);
  --color-n-500: hsl(0, 0%, 1%);

  --color-a: hsl(274, 82%, 60%);
}
